@model BackEnd.Entidades.RolesPorUsuario

@{
    ViewData["Title"] = "Roles por usuario";
}
<style>
    /* Estilos para el contenedor */
    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilos para los formularios */
    .form-group {
        margin-bottom: 15px;
    }

    /* Estilos para los botones */
    .btn {
        margin-right: 5px;
    }
</style>
<div class="container">
    <h1>Ver más información</h1>

    <div>
        <h4>Rol del usuario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdRolNavigation.Rol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdUsuarioNavigation.Usuario)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modificar</a>
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    </div>
</div>
